@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap');
body {
    background-color:#E5E5E5;
    font-family: Ropa Sans;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}
main{
    background-color:#FFFFFF;
    box-shadow: 0px 2px 10px 0px #00000040;
}
header{
    margin:20px auto;
    padding:10px;
    box-shadow: 0px 2px 10px 0px #00000040;
}
#carrossel{
    margin-bottom:35px;
    text-align: center;
}
#carrossel img{
    width: 1000px;
    max-width: 90%;
    margin: 0 auto;
}
#sales{
    text-align: center;
    margin:0 44px;
}

#sales div{
    background-color:#EEEEEE;
    display: inline-block;
    font-size: 10px;
    width: 256px;
    max-width: 100%;
    padding: 0;
    margin:0 40px;
}

#sales div img{
    width: 256px;
    max-width:100%
}

#content{
    text-align: center;
    margin: 50px auto;
}
footer{
    background-color: #333333;
    text-align: center;
    margin: 40px auto;
}

footer div{
    display: inline-block;
    width: 45%;
    margin: 25px auto;
}

